<app-header></app-header>
<div class="container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>EVENT NAME</h1>
    <span class="flex-spacer"></span>
   </div>

    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/logo.png" alt="Logo">
    </div>
  <div fxFlex>
    <p>Some Nice description</p>
      <span class="flex-spacer"></span>
  <!-- <a mat-button (click)="openRegistrationForm()"><span ></span> Register</a> -->
  <a mat-button routerLink="/form" routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Regster Now!</a>
  </div>
  
  <div fxFlex></div>
</div>
<app-footer></app-footer>