<div fxFlex
fxLayout="column">
<app-header></app-header>

<div fxFlex>
  <h1>Admin Panel</h1>
</div>
<div fxFlex>
  <mat-list *ngIf="candidates" class="list-horizontal">
    <!-- <div> -->
      <mat-list-item ><strong>Candidates Registered as Self:{{countSelf}}</strong></mat-list-item>
      <mat-list-item><strong>Candidates Registered as Group:{{countGroup}}</strong></mat-list-item>
    <!-- </div> -->
    <!-- <div> -->
      <mat-list-item><strong>Candidates Registered as Corporate:{{countCorporate}}</strong></mat-list-item>
      <mat-list-item><strong>Candidates Registered as Other:{{countOther}}</strong></mat-list-item>
    <!-- </div> -->
  </mat-list>

  <mat-accordion *ngIf="candidates" multi="true"> <!--add mat-extension pannels dynmaically-->
    <mat-list-item *ngFor="let candidate of candidates">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Registration id of the candidate
          </mat-panel-title>
          <mat-panel-description>
            {{candidate._id}}
          </mat-panel-description>
        </mat-expansion-panel-header>
            <p>
              <mat-list>
                <mat-list-item>
                    <p matLine>Name            : {{candidate.name}}</p>
                    <!-- <p matLine>{{candidate._id}}</p> -->
                    <p matLine>Contact         : {{candidate.mobile}}</p>
                    <p matLine>Mail id         : {{candidate.email}}</p>
                    <p matLine>Date Registered :{{candidate.createdAt | date }}</p>
                </mat-list-item>
              </mat-list>

      </mat-expansion-panel>

     </mat-list-item>
    </mat-accordion>

  <div [hidden]="candidates || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>

</div>
